@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before,
.slick-next:before {
  color: hsl(12, 88%, 59%);
}

.slick-dots li button:before {
  top: -10rem;
  font-size: 0.75rem;
  color: hsl(12, 88%, 59%);
}

.slick-dots li.slick-active button:before {
  color: hsl(12, 88%, 59%);
}

@layer components {
  .wrapped {
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }

  .button {
    @apply bg-primary-red text-neutral-light-gray block w-max py-4 px-12 rounded-full;
  }

  .button-hover {
    @apply hover:bg-primary-red/70;
  }

  .carousel {
    @apply p-10 bg-neutral-light-gray text-neutral-very-blue;
  }

  .footer-area {
    grid-template-areas:
      'form'
      'navigation'
      'social'
      'logo'
      'copy';
  }

  .footer-area-md {
    grid-template-areas:
      'logo     navigation form'
      'social   navigation copy';
  }
}
